<div ng-init="getHeroes()" ng-controller="heroesController" id="heroView">
    <div class="heroDiv" ng-repeat="hero in heroes">
      <div id="heroAlias">
        Name: {{hero.alias}}
      </div>
      <div id="heroFirstName">
        Name: {{hero.first_name}}
      </div>
      <div id="heroLastName">
        Name: {{hero.last_name}}
      </div>
      <div id="heroCity">
        Animal: {{hero.city}}
      </div>
      <div id="heroPowerName">
        Age: {{hero.power_name}}
      </div>
      <button ng-click="deleteHero(hero._id)" type="button" name="button">Delete</button>
    </div>
</div>
